@inherits LayoutComponentBase

<div style="min-height: 100vh; background: var(--dark); color: var(--white);">
    @Body
</div>

<div id="blazor-error-ui" style="background: var(--danger); color: white; padding: 10px; position: fixed; bottom: 0; width: 100%; display: none;">
    An unhandled error has occurred.
    <a href="" class="reload" style="color: white; margin-left: 10px;">Reload</a>
    <a class="dismiss" style="color: white; margin-left: 10px; cursor: pointer;">🗙</a>
</div>
